[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiohttp = "*"
python-socketio = "~=5.0"
yt-dlp = "*"
mutagen = "*"
curl-cffi = "*"

[requires]
python_version = "3.13"
