[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiohttp = "*"
python-socketio = "~=4.0"
youtube-dl = "*"

[requires]
python_version = "3.8"
