.add-url-box
    padding: 5rem 0
    max-width: 720px
    margin: auto

.rounded-box
    border: 1px solid rgba(0,0,0,.125)
    border-radius: .25rem

th
    border-top: 0
    border-bottom: 3px solid #dee2e6 !important

.disabled
    opacity: 0.5
    pointer-events: none
