.button-toggle-theme:focus, .button-toggle-theme:active
    box-shadow: none
    outline: 0px

.add-url-box
    margin: 2rem auto

.section-wrapper
    width: min(90%, 1080px)
    margin: auto

.component
    margin: 1rem 0rem

.button-component
    margin: 2rem 0rem
    display: flex
    justify-content: center

.add-url-group
    width: 100%

.add-url
    width: min(80%, 280px)
    line-height: 2rem

.folder-dropdown
    width: min(100%, 1080px)

.custom-name-prefix
    width: min(90%, 480px)

.metube-section-header
    font-size: 1.8rem
    font-weight: 300
    position: relative
    background: var(--bs-secondary-bg)
    padding: 0.5rem 0
    margin-top: 3.5rem

.metube-section-header:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: -9999px
    right: 0
    border-left: 9999px solid var(--bs-secondary-bg)
    box-shadow: 9999px 0 0 var(--bs-secondary-bg)

button:hover
    text-decoration: none

.disabled
    opacity: 0.5
    pointer-events: none

.table-detail-row
    padding: 0.25rem 0rem

.flex-space-between
    display: flex
    justify-content: space-between
    align-items: center

.flex
    display: flex

.downloads-section
    margin: 2rem auto

.progress-bar-wrapper
    width: min(90%, 680px)

.status-icon
    width: 1.5rem

.italic-message
    font-style: italic
    color: gray

.accordion-button:not(.collapsed)
    background-color: #ffffff
